/* Telas Pequenas */
@media (min-width: 249px) and (max-width: 480px) 
{
    body {
    background-color: blueviolet;
    font-size: 8%;
}
}

/* Telas Médias */
@media (min-width: 481px)  and (max-width: 1024px) 
{
    body {
        background-color: greenyellow;
        font-size: 10%;
}
}

/* Telas Grandes */
@media screen and (min-width: 1024px) 
{

}